<div class="menu">
	<%= link_to "Index", root_path %> 
	<%= link_to "Deck", decks_path %> 
</div>

<style type="text/css">
	.menu{
		padding: 10px;
		border: solid 1px black;
	}
	.menu a{
		padding: 0 15px;
	}
	.menu a:first-child{
		padding-left: 20px;
	}
</style>